{% extends "base.html.twig" %}

{% block title %}{{ product.getName() }}{% endblock %}

{% block body %}
    <h1>{{ product.getName() }}</h1>
    <hr />
    <div class="row">
        <div class="col-6">
            {% if product.getVisualisations | length > 0 %}
                <div id="visualisations-carousel" class="carousel slide product-visualisations" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% set first = true %}
                        {% for visualisation in product.getVisualisations() %}
                            {% if first %}
                                <div class="carousel-item active">
                                {% set first = false %}
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                                <img class="d-block w-100" src="/visualisations/{{ visualisation.getPath() }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <div>{{ visualisation.getLegend() }}</div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if product.getVisualisations | length > 1 %}
                            <button class="carousel-control-prev" type="button" data-bs-target="#visualisations-carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#visualisations-carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="no-product-visualisations">
                    <div class="text-muted fst-italic text-center">404<br/>Aucunes images disponible</div>
                </div>
            {% endif %}
        </div>
        <div class="col-6">
            <h4>{{ (product.getPrice() / 100) | number_format(2, ",", ".") }} €</h4>

            {% if product.getCategory() != null %}
                <p>Catégorie: {{ product.getCategory() }}</p>
            {% endif %}
            <p>Description : </p>
            {% if product.getDescription() != null %}
                <p>{{ product.getDescription() }}</p>
            {% else %}
                <p class="text-muted fst-italic">Aucune description</p>
            {% endif %}

            <label for="quantity">Quantité: </label>
            <input class="quantity-control" type="number" id="quantity" value="1" min="1" />
            <div class="btn btn-primary" onclick="addToCart({{ product.getId() }});"><i class="fas fa-cart-plus"></i> Ajouter au panier</div>
        </div>
    </div>
    <hr />
    <h3>Vos commentaires</h3>
    {% if app.user != null %}
        {{ form(commentForm, { attr: { action: path("comment_create") }}) }}
    {% endif %}
    {% if product.comments | length > 0 %}
        {% for comment in product.comments %}
            <div>
                <p><b>{{ comment.user.fullName }}</b> | le {{ comment.createdAt.format("d/m/Y \à H:i:s") }}</p>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-light">
            Aucun commentaires. Soyez le premier.
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>{% include "product/detail.js" %}</script>
{% endblock %}