{% extends 'base.html.twig' %}

{% block title %}Compte de {{ app.user.firstName }} {{ app.user.lastname }}{% endblock %}

{% block body %}
    <h1>Compte de {{ app.user.firstName }} {{ app.user.lastname }}</h1>
    <hr />
    <a href="{{ path('user_updatePasswordForm') }}">Mettre à jour le mot de passe.</a>
{% endblock %}
